@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.dropdown-menu {
  max-width: 240px;
  position: absolute;
  top: 20px !important;
  padding: 20px 10px;
  background: #fff;
  border-top: 3px solid #2ea3f2;
  border-radius: 0;
}
.dropdown-menu a {
  display: inline-block;
  word-break: break-all;
  color: #666;
  padding: 6px 20px;
  max-width: 200px !important;
  font-size: 16px;
  font-weight: 600;
}

.containerScrolling {
  max-width: 960px;
}
.containerScrolling ul,
.containerScrolling li {
  padding: 0;
  margin: 0;
  width: 100%;
}
.containerScrolling li {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  list-style-type: none;
  position: relative;
  animation: primary 12s linear infinite;
  margin: 0;
}


.data-list-Scrolling {
  height: 380px;
  width: 300px;
  padding: 2rem;
  overflow-y: hidden;
}

@keyframes primary {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
} 